/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #006400;
    color: white;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #006400;
}

footer {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
   
}
#galeria h2{
    margin: 0;
    
}

.galeria-imagenes {
    display: flex;
    flex-direction: column;
    
    
}

.galeria-imagenes figure {
    display: flex;
    flex-direction: column;
    
    
    
}

.galeria-imagenes img {
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease; /* Aplicamos una transición para el cambio suave */
    
}

.galeria-imagenes img:hover {
    transform: scale(1.05); /* Incrementa el tamaño de la imagen al 105% */
}

.galeria-imagenes figcaption {
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
    
}
footer {
    background-color: #006400;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.cont-img {
    margin-bottom: 20px;
    display: flex;
    
    
}
.cont-img img{
    max-width: 150px;
    height: 150px;
   
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0;
    
}
.imagen-container{
    display: flex;
    
}
.imagen-container img{
    margin: 10px;
}

